---
const { variant, type = "button", href, ...rest } = Astro.props;

const base =
  "inline-flex items-center justify-center rounded-4xl px-4 py-2 button transition-all duration-500 ease-in-out hover:scale-110";

const variants = {
  header: "btn-header text-dark font-bold uppercase",
  light: "btn-light text-dark font-bold uppercase",
  dark: "btn-dark text-light font-bold uppercase",
};

const classes = `${base} ${variants[variant]} ${rest.class ?? ""}`;
---

{
  href ? (
    <a href={href} class={classes}>
      <slot />
    </a>
  ) : (
    <button type={type} {...rest} class={classes}>
      <slot />
    </button>
  )
}
