---
import Heading from "./Heading.astro";

const {
  image = "false",
  descr,
  title = "false",
  undertitle = "false",
  text,
  header = "false",
} = Astro.props;
---

<div class="md:gap-xs">
  {
    image !== "false" && (
      <img src={image} alt={descr} class="pb-lg pt-3xl md:pt-0" />
    )
  }
  {
    header !== "false" && (
      <Heading htmlheading="h3" size="medium" stylingclasses="uppercase pt-xl">
        {header}
      </Heading>
    )
  }
  {
    title !== "false" && (
      <Heading htmlheading="h4" size="medium" stylingclasses="uppercase pb-xs">
        {title}
      </Heading>
    )
  }
  {
    undertitle !== "false" && (
      <Heading htmlheading="h5" size="xsmall" stylingclasses="pb-sm">
        {undertitle}
      </Heading>
    )
  }
  <Heading htmlheading="base" size="xxsmall" stylingclasses="pb-xl"
    >{text}</Heading
  >
</div>
