---
import Heading from "./Heading.astro";

const {
  image = "false",
  descr,
  title = "false",
  undertitle = "false",
  text,
  header = "false",
} = Astro.props;
---

<div>
  {image !== "false" && <img src={image} alt={descr} />}
  {
    header !== "false" && (
      <Heading
        htmlheading="h3"
        size="medium"
        stylingclasses="uppercase text-dark pt-xl"
      >
        {header}
      </Heading>
    )
  }
  {
    title !== "false" && (
      <Heading
        htmlheading="h4"
        size="medium"
        stylingclasses="uppercase text-dark"
      >
        {title}
      </Heading>
    )
  }
  {
    undertitle !== "false" && (
      <Heading htmlheading="h5" size="xsmall" stylingclasses="text-dark">
        {undertitle}
      </Heading>
    )
  }
  <Heading htmlheading="h6" size="xxsmall" stylingclasses="text-dark pt-sm"
    >{text}</Heading
  >
</div>
