---
import Heading from "./Heading.astro";

const {
  image = "false",
  descr,
  title = "false",
  undertitle = "false",
  text,
  header = "false",
} = Astro.props;
---

<div class="md:gap-xs">
  {
    image !== "false" && (
      <img
        src={image}
        alt={descr}
        class="pb-lg pt-3xl w-2/3 md:w-100 md:pt-0"
      />
    )
  }
  {
    header !== "false" && (
        <div
    x-data="{ show: false }"
    x-intersect.once="show = true"
    class="overflow-hidden max-h-fit"
  >
    <!-- MASK -->
    <div
      class="transform transition-transform duration-500 ease-linear"
      :class="show ? 'translate-y-0' : 'translate-y-full'"
    >
      <Heading htmlheading="h3" size="medium" stylingclasses="uppercase pt-xl">
        {header}
      </Heading>
    </div>
  </div>
    )
  }
  {
    title !== "false" && (
      <Heading htmlheading="h4" size="medium" stylingclasses="uppercase pb-xs">
        {title}
      </Heading>
    )
  }
  {
    undertitle !== "false" && (
      <Heading htmlheading="h5" size="xsmall" stylingclasses="pb-sm">
        {undertitle}
      </Heading>
    )
  }
  <Heading htmlheading="base" size="xxsmall"
    >{text}</Heading
  >
</div>
